
<div class="page-wrapper">
    <div class="panel panel-default">
        <div class="panel-heading">支出信息</div>
        <div class="panel-body">
            <div class="botton-container">
                <button type="button" class="btn btn-default" data-toggle="modal" ng-click="clickAddOutlay()" data-target="#addOrEditModal">添加</button>
                <button type="button" class="btn btn-default" ng-disabled="!isSelectedOutlay" ng-click="clickEditPayItem()" data-toggle="modal" data-target="#addOrEditModal">编辑</button>
                <button type="button" class="btn btn-default" ng-disabled="!isSelectedOutlay">删除</button>
            </div>
            <div class="search-container">
                <label>搜索: <input class="form-control" ng-change="search()" ng-model="filter"></label>

            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>开支项目</th>
                        <th>支付金额</th>
                        <th>支付日期</th>
                        <th>平摊人员</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-repeat="outlay in outlays" ng-click="setOutlay()">
                        <td>{{outlay.RowID}}</td>
                        <td>{{outlay.PayItemName}}</td>
                        <td>{{outlay.PayMoney}}</td>
                        <td>{{outlay.PayDate| date:'yyyy-MM-dd'}}</td>
                        <td class="center">{{outlay.ShareUserName}}</td>
                        <td class="center">{{outlay.Remark}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-container">
                <ul class="pagination pagination-costom">
                    <li><a ng-click="prevPage()" title="上一页"><i class="fa fa-angle-left"></i>上一页</a></li>
                    <li ng-repeat="n in pagedItems" ng-class="{active: n == currentPage}" ng-click="setPage()"><a ng-bind="n + 1">1</a></li>
                    <li ng-class="{disabled: currentPage == totalPage}"><a ng-click="nextPage()" title="下一页"><i class="fa fa-angle-right"></i>下一页</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addOrEditModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加支出</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                开支项目:
                                <select class="form-control" ng-model="outlay.PayItemID" ng-options="option.ItemName for option in payItems track by option.RowID" required></select>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                支付金额:
                                <input type="number" class="form-control" ng-model="outlay.PayMoney" required />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                支付日期:
                                <input type="text" ng-model="datepicker.date" readonly class="datepicker form-control" data-date-format="yyyy-mm-dd" required />
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注:
                                <input type="text" class="form-control" ng-model="outlay.Remark" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="btn-group" data-toggle="buttons">
                                <span>平摊人员:&nbsp;</span>
                                <label class="btn btn-default" ng-repeat="user in shareUsers" ng-click="userChecked($event,user.RowID,user.UserName)">
                                    <input type="checkbox" value="{{user.RowID}}" ng-checked="user.IsSelected"> {{user.UserName}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addOrEditOutlay()" ng-disabled="!outlay.PayItemID||!outlay.PayMoney||!payUserShare.ShareUserID">
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="scripts/common.js"></script>
