
<div class="page-wrapper">
    <div class="panel panel-default">
        <div class="panel-heading">支出信息</div>
        <div class="panel-body">
            <div class="botton-container">
                <button type="button" class="btn btn-default" data-toggle="modal" ng-click="clickAddOutlay()" data-target="#largeModal">添加</button>
                <button type="button" class="btn btn-default">编辑</button>
                <button type="button" class="btn btn-default">删除</button>
            </div>
            <div class="search-container">
                <label>搜索: <input class="form-control"></label>

            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>开支项目</th>
                        <th>支付金额</th>
                        <th>支付日期</th>
                        <th>备注</th>
                        <th>平摊人员</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX">
                        <td>Trident</td>
                        <td>Internet Explorer 4.0</td>
                        <td>Win 95+</td>
                        <td class="center">4</td>
                        <td class="center">X</td>
                        <td class="center">X</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-container">
                <ul class="pagination pagination-costom">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加支出</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                开支项目:
                                <select class="form-control" ng-model="outlay.PayItemID" ng-options="value.RowID as value.ItemName for value in payItems"></select>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                支付金额:
                                <input type="text" class="form-control" ng-model="outlay.PayMoney"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                支付日期:
                                <input type="text" ng-model="datepicker.date" readonly class="datepicker form-control" data-date-format="yyyy-mm-dd" />
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注:
                                <input type="text" class="form-control" ng-model="outlay.Remark" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="btn-group" data-toggle="buttons">
                                <span>平摊人员:&nbsp;</span>
                                <label class="btn btn-default active" ng-repeat="user in users" ng-click="userChecked($event,user.RowID)">
                                    <input type="checkbox" value="{{user.RowID}}"> {{user.UserName}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addOrEditOutlay()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="scripts/common.js"></script>
