.nav-container {
    margin: 0 auto;
    width: 1024px;
}

.navbar-header a {
    padding-left: 0;
}

.page-wrapper {
    width: 1024px;
    margin: 61px auto;
}

.botton-container {
    padding: 10px 0;
    float: left;
}

.search-container {
    padding: 10px 0;
    float: right;
    width: 200px;
    display: inline-block;
    text-align: right;
}


    .search-container .form-control {
        display: inline-block;
        width: 150px;
    }

.pagination-container {
    height: 35px;
}

.pagination-costom {
    margin: 0;
    float: right;
}

    .pagination-costom li {
        cursor:pointer;
    }

.modal-body .row {
    margin: 15px 0;
}

.modal-body label {
    width: 100%;
}

.modal-body .form-control {
    width: 70%;
    display: inline-block;
}

.btn-group span {
    display: inline-block;
    float: left;
    font-size: 14px;
    height:35px;
    line-height:35px;
    font-weight:bold;
    color: #333;
}

.btn-group label {
    width: 80px;
    display: inline-block;
}

.click-highlight {
    background-color:#e27979;
}